### Series

Serier fungerar som listor.

In [2]:
import pandas as pd

data = dict(AI=25, Net=30, App=30, Java=27) # number of students
series = pd.Series(data=data)

print(f"series[0]: {series[0]}")
print(f"series[-1]: {series[-1]}")

series[0]: 25
series[-1]: 27

/tmp/ipykernel_338156/2458026907.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[0]}")
/tmp/ipykernel_338156/2458026907.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[-1]: {series[-1]}")

In [8]:
import random as rng

rng.seed(42)

dice_series = pd.Series([rng.randint(1, 6) for _ in range(5)])
print(dice_series)
print(f"Min value: {dice_series.min()}")
print(f"Max value: {dice_series.max()}")
print(f"Mean value: {dice_series.mean()}")
print(f"Median value: {dice_series.median()}")
print(f"Standard deviation value: {dice_series.std()}")

0    6
1    1
2    1
3    6
4    3
dtype: int64
Min value: 1
Max value: 6
Mean value: 3.4
Median value: 3.0
Standard value: 2.5099800796022267

In [12]:
df = pd.DataFrame(series, columns=["Number of students"])
print(df)

      Number of students
AI                    25
Net                   30
App                   30
Java                  27

In [16]:
students = pd.Series(data = dict(AI=25, Net=30, App=30, Java=27))
language = pd.Series(dict(AI="Python", Net="C#", App="Kotlin", Java="Java"))

df_programs = pd.DataFrame({"Students": students, "Language": language})

df_programs

      Students Language
AI          25   Python
Net         30       C#
App         30   Kotlin
Java        27     Java

In [17]:
import numpy as np
df_programs = pd.DataFrame({
    "Students": np.array((25, 30, 30, 27)),
    "Language": np.array(("Python", "C#", "Kotlin", "Java"))
    },
    index = ["AI", ".NET", "APP", "Java"])

df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [18]:
df_programs.index

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')

In [19]:
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [20]:
df_programs[["Language", "Students"]]

     Language  Students
AI     Python        25
.NET       C#        30
APP    Kotlin        30
Java     Java        27

In [21]:
df_programs.Language

AI      Python
.NET        C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [23]:
df_programs["Language"][".NET"]

'C#'

In [24]:
print(df_programs.loc["Java"])

Students      27
Language    Java
Name: Java, dtype: object

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel("../Data/calories.xlsx")
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [5]:
df["FoodCategory"].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [6]:
df["per100grams"].unique()

array(['100g', '100ml'], dtype=object)

In [14]:
df = df.rename(dict(Cals_per100grams="Calories",
                    per100grams="percent",
                    KJ_per100grams="kJ"), axis="columns")
df.head()

  FoodCategory             FoodItem percent  Calories      kJ
0  CannedFruit           Applesauce    100g        62  260 kJ
1  CannedFruit      Canned Apricots    100g        48  202 kJ
2  CannedFruit  Canned Blackberries    100g        92  386 kJ
3  CannedFruit   Canned Blueberries    100g        88  370 kJ
4  CannedFruit      Canned Cherries    100g        54  227 kJ

In [17]:
df["Calories"] = df["Calories"].str[:-3].astype(int)
df.head()

KeyError: 'Calories'